

.login-form {
  background-color: #f0efef;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1100px); /* Apply blur effect */
  overflow-y: hidden;

  .wrapper {
    width: 320px;
    height: 370px;
    background: rgb(255, 255, 255);
    color: #000000;
    border-radius: 60px;
    padding: 10px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    backdrop-filter: blur(10px); /* Apply blur effect */

    img{
      width: 80px;
      height: 80px;
      background-color: white;
      margin: 0 auto;
    }
    
    .logo{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .input-box {
      position: relative;
      width: 80%;
      height: 50px;
      padding: 10px;
      padding-top: 0px;

      input {
        width: 95%;
        height: 20%;
        background: transparent;
        outline: none;
        border: 2px solid rgba(37, 36, 36, 0.2);
        border-radius: 40px;
        font-size: 12px;
        color: #000000;
        padding: 20px;
        
        &::placeholder {
          color: #000000;
        }
      }

      .icon {
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
      }
    }

    .remember-forgot {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      margin: 5px 0 15px 0px;
      font-size: 13px;

      label input {
        accent-color: #fff;
        margin-right: 4px;
      }

      a {
        color: #000000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      width: 100%;
      height: 45px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 14px;
      color: #333;
      font-weight: 700;
      margin-top: 10px;
    }

    .register-link {
      font-size: 14.5px;
      text-align: center;
      margin: 20px 0 15px;

      p a {
        color: #000000;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .for-reg{
      display: flex;
      flex-direction: row;
      justify-content: space-around;  
    .reg{
      display: flex;
      flex-direction: row;
      justify-content: space-around;  
      font-size: 12px;
      margin: 5px 0 15px 10px;
      font-size: 13px;

      label input {
        accent-color: #fff;
        margin-right: 4px;
      }

      a {
        color: #000000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

}
