.account-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .sidebar ul li a:hover {
    color: #007bff;
  }
  
  .account-info {
    flex: 1;
    padding: 20px;
  }
  
  .account-info form {
    max-width: 400px;
  }
  
  .account-info div {
    margin-bottom: 20px;
  }
  
  .account-info label {
    display: block;
    margin-bottom: 5px;
  }
  
  .account-info input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .account-info input:focus {
    outline: none;
    border-color: #007bff;
  }


  .savebutton {
    background-color: #f8f8f8;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   .savebutton:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   .savebutton:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   .savebutton:disabled {
    cursor: auto;
    color: grey;
   }
  