// WomenPage.scss
$primary-color: hsla(248, 26%, 48%, 0.753); // pink
$secondary-color: #333;
$accent-color: #555;

$submenu-bg-color: #f2f2f2;
$submenu-border-color: #ddd;

.women-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .section-title {
    color: $secondary-color;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px; /* Larger font for section title */
  }

  .product {
    width: calc(25% - 20px);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
    }

    .product-image {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }

    .product-info {
      padding: 10px;

      h3 {
        margin-top: 0;
        margin-bottom: 10px;
        color: $secondary-color;
      }

      p {
        margin-top: 0;
        color: $accent-color;
      }

      button {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 20%);
        }
      }
    }
  }
}

.submenu {
  width: 100%;
  background-color: $submenu-bg-color;
  padding: 10px 0;
  border-top: 1px solid $submenu-border-color;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    li {
      margin-right: 20px;
      font-size: 16px;

      a {
        text-decoration: none;
        color: $secondary-color;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
