.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; // Adjust width for wider form
  max-width: 700px; // Adjust max-width as needed
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1.5rem; // Reduce padding for smaller size
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e9ecef; // Change background color (light gray here)
}

.contact-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input,
  textarea {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-family: inherit;

    &:focus {
      outline: 1px solid #007bff;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  button {
    background-color: #007bff; // Adjust button color if needed
    color: #fff;
    padding: 0.7rem 2rem; // Adjust button padding for smaller size
    border: none;
    margin: 0 auto;
    width: 50%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0067cc;
    }
  }
}
