/* Footer.css */
.footer {
    background-color: #252525;
    color: #fff;
    // padding: 40px 20px;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin :  0 auto;
    margin-top: 30px;
    gap: 100px;

  }
  
  .newsletter, .contact-info {
    flex: 1;
    margin-bottom: 20px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .copyright {
    margin-top: 20px;
  }
  